body{
	font-family: 'trebuchet MS','Lucida Sans Unicode','Lucida Grande',Arial,sans serif;
	background-color: darkgreen;
	background-size: cover;
	font-weight: bold; 
	text-align: center;
	color: white;
}

h1{
	color: goldenrod;
	font-size: 50px;
}
p{
	font-size: 20px;
}
#message-el{
	font-style: italic;
}

button{
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
	color: #016f32;
	background: goldenrod;
	border-radius: 10px;
	margin-bottom: 10px;
}



